<a href="{{ .Get "href" }}" target="{{ .Get "target" }}" 
    class="icon-svg {{ if .Get "color" }}icon-svg--color{{ end }}" 
    style="{{ if .Get "color" }}--link-color: {{ .Get "color" }};{{ end }}">
        <img src="{{ .Get "src" }}" 
            alt="{{ .Get "alt" }}" 
            class="icon-svg-image" 
            style="width: {{ .Get "width" }};">
</a>

<!-- Usage -->
<!-- {< iconlink href="https://example.com" target="_blank" src="/svg/bluesky.svg" alt="Icon" width="24px" >} -->
<!-- double {}  -->

<!-- Attention! -->
<!-- svg can found in: .../static/svg  -->
<!-- new svg download link: https://simpleicons.org/; https://iconmonstr.com/; https://www.svgrepo.com/;>
<!-- last icon no margin-right -->