// -------------- THEME SWITCHER -------------- //
@mixin theme($--bg-color, $--primary-text-color, $--secondary-text-color, $--link-color, $--highlight-color, $--selection-color) {
  background-color: $--bg-color;

  color: $--primary-text-color;

  a {
    color: $--link-color;
    text-decoration: none;
    font-weight:600;
    &:hover {opacity: 0.5; }
  }

  details {
    border: thin solid $--primary-text-color;
    padding: 1rem;
  }

  details summary {
    color: $--primary-text-color;
    text-decoration: none;
  }

  code:not(pre > code) {
    background-color: $--primary-text-color;
    color: $--bg-color;
  }

  *:target {
    // background: $--highlight-color;
    color: $--primary-text-color;
  }

  table, th, td {
    border: thin solid $--primary-text-color;

  }
  .toc {
    border: thin solid $--primary-text-color;
    padding: 1rem;
  }

  figcaption { color: $--secondary-text-color; }

  ::selection {
    background: $--selection-color;
  }
}

@mixin dark-appearance {
  @include theme(#505050, #ffffff, #ebebeb, #FFFF00, #FFFF00, #ffff0050);
}

@mixin light-appearance {
  @include theme(#ffffff, #212121, #666666, #008dda, #ffd900, #66666650);
}

body[a="dark"] { @include dark-appearance; }
body[a="light"] { @include light-appearance; }

@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}

@media (prefers-color-scheme: light) {
  body[a="auto"] { @include light-appearance; }
}

// -------------------------------------------- //

html { height: 100%; }

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  // font-family: Arial;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}
// https://weixiang.github.io/posts/the-font-selection-and-development-guide-in-chinese-web-pages/

.post-meta { text-align: right; }

h1 {font-size: 32px;}
h2 {font-size: 28px;}
h3 {font-size: 24px;}
h4, h5, h6 {font-size: 20px;}

h2, h3, h4, h5, h6 { margin-top: 0.5rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.5rem 0rem 0.5rem 0rem; }

.w {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 1rem;
}

.toc {
  padding: 1rem;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '///////////////' }
  &:after { content: attr(data-content) '///////////////' }
}

pre {
  background: black;
  padding: 1em;
  overflow-x: auto; /* Fix pre content overflowing parent without scroll bar */
}

table { width: 100%; }

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code:not(pre > code) {
  padding: 0.1em 0.2em;
  font-size: 90%;
}

code.has-jax {
  -webkit-font-smoothing: antialiased;
  background: inherit !important;
  border: none !important;
  font-size: 100%;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: inline-block;
  margin: 0 auto;
}

figcaption {
  text-align: center;
  opacity: 0.7;
  font-size: 14px !important; 
}



// Home layout

/* 主容器样式 */
.main-container {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

/* 左侧内容样式 */
.left-content {
  flex: 0 0 auto;
}

/* 右侧内容样式 */
.right-content {
  flex: 1;
}

/* 媒体查询：小屏幕（手机）布局调整 */
@media (max-width: 768px) {
  .main-container {
      display: block; /* 水平布局变为垂直布局 */
  }

  .left-content, 
  .right-content {
      margin-bottom: 20px; /* 添加下间距 */
  }
}
