// ---------- THEME SWITCHER ---------- Start ---------- //
@mixin theme($--bg-color, $--primary-text-color, $--secondary-text-color, $--link-color, $--highlight-color, $--selection-color, $--hover-color) {
  background-color: $--bg-color;

  color: $--primary-text-color;

  a {
    color: $--link-color; /* 设置链接的颜色 */
    text-decoration: underline; /* 添加下划线 */
    // text-decoration-style: dotted; /* 下划线样式为虚线 */
    // font-weight:800;
    font-weight: bold; /* 设置字体加粗 */
    &:hover {
      // opacity: 0.3; /* 悬停时降低透明度 */
      background: $--hover-color; /* 悬停时的背景色 */
      // transform: scale(1.2); /* 悬停时放大 */
      transform: rotate(30deg); /* 悬停时旋转 */
    }
  }

  details {
    border: thin solid $--primary-text-color;
    padding: 1rem;
  }

  details summary {
    color: $--primary-text-color;
    text-decoration: none;
  }

  code:not(pre > code) {
    background-color: $--primary-text-color;
    color: $--bg-color;
  }

  *:target {
    // background: $--highlight-color;
    color: $--primary-text-color;
  }

  table, th, td {
    border: thin solid $--primary-text-color;
  }

  .toc {
    border: thin solid $--primary-text-color;
    padding: 1rem;
  
    a {
      text-decoration: none !important; /* 移除下划线 */

      &:hover {
        background: none !important; /* 移除背景色 */
      }
    }
  }

  ::selection {
    background: $--selection-color;
  }

  figcaption {
    // color: $--secondary-text-color;
    text-align: center;
    // opacity: 0.7;
    // font-size: 16px !important; 
  }

  hr {
    text-align: center;
    border: 1px dashed $--primary-text-color;
    opacity: 0.1;
    margin: 15px 0px 15px 0px; /* 上左下右间距 */
    // &:before { content: '//////////' }
    // &:after { content: attr(data-content) '//////////' }
  }
  
  blockquote {
    font-style: italic;
    border: thin solid $--primary-text-color;
    padding: 1rem;
  
    p { margin: 0; }
  }

  pre {
    background: $--primary-text-color;
    padding: 1em;
    overflow-x: auto; /* Fix pre content overflowing parent without scroll bar */
  }

  table { width: 100%; }

  table, th, td {
    border: thin solid $--primary-text-color;
    border-collapse: collapse;
    padding: 0.4rem;
  }

}

@mixin dark-appearance {
  @include theme(#505050, #ffffff, #ffffff, #ffffff, #ffd900, #9C9C9C, #ab982d);
}

@mixin light-appearance {
  @include theme(#FAFAFA, #000000, #000000, #000000, #ffd900, #CECECE, #ffd900);
}

//#212121 #9C9C9C

body[a="dark"] { @include dark-appearance; }
body[a="light"] { @include light-appearance; }

@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}

@media (prefers-color-scheme: light) {
  body[a="auto"] { @include light-appearance; }
}
// ---------- THEME SWITCHER ---------- END ---------- //





// ---------- Basic Style ---------- Start ---------- //
html { height: 100%; }

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  // font-family: Arial;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}
// reference: https://weixiang.github.io/posts/the-font-selection-and-development-guide-in-chinese-web-pages/

.post-meta { text-align: right; }

h1 {font-size: 32px;}
h2 {font-size: 28px;}
h3 {font-size: 24px;}
h4, h5, h6 {font-size: 20px;}

h2, h3, h4, h5, h6 { margin-top: 0.5rem; }

hr { margin: 1rem 0; }

p { margin: 1rem 0; }

li { margin: 0.5rem 0rem 0.5rem 0rem; }

.w {
  max-width: 1250px;
  margin: 0 auto;
  padding: 3rem 1rem;
}

code:not(pre > code) {
  padding: 0.1em 0.2em;
  font-size: 90%;
}

code.has-jax {
  -webkit-font-smoothing: antialiased;
  background: inherit !important;
  border: none !important;
  font-size: 100%;
}

img {
  max-width: 100%;
  // width: 220px;
  display: block;
  margin: 0 auto;
}
// ---------- Basic Style ---------- END ---------- //





// ---------- Home Layout  ---------- Start ---------- //
/* 主容器样式 */
.main-container {
  display: flex; /* 使用Flexbox布局，使子元素水平排列 */
  align-items: flex-start; /* 子元素在交叉轴上顶部对齐 */
  gap: 5px; /* 设置子元素之间的间距为5px */
}

/* 左侧内容样式 */
.left-content {
  width: 300px; /* 设置左侧内容的宽度为300px*/
  // background-color: #f4f4f4; /* 设置左侧内容的背景色为浅灰色 */
  position: sticky; /* 设置粘性定位，使左侧内容在滚动时固定在页面 */
  top: 20px; /* 设置粘性定位的顶部距离为20px */
  align-self: flex-start; /* 确保左侧内容在Flex容器中顶部对齐 */
  height: fit-content; /* 设置高度自适应内容，避免内容溢出 */
  // flex: 0 0 auto; /* 设置左侧内容不伸缩 */
}

/* 右侧内容样式 */
.right-content {
  flex: 1; /* 设置右侧内容占据剩余空间 */
}

/* footer样式 */
.footertext {
  font-size: 14px !important;
  font-weight: 400 !important;
}

.footerlink {
  font-size: 14px !important;
  font-weight: 400 !important;
  text-decoration: none !important;

  &:hover {
    background: none !important;
  }
}

/* 媒体查询：小屏幕（手机）布局调整 */
@media (max-width: 768px) {
  .main-container {
      display: block; /* 将Flexbox布局改为块级布局，使子元素垂直排列 */
  }

  .left-content {
    position: static; /* 取消粘性定位，使左侧内容随页面滚动 */
    width: 100%; /* 设置左侧内容宽度占满整个屏幕 */
    margin-bottom: 20px; /* 为左侧内容添加下边距，避免与右侧内容紧贴 */
  }

  .right-content {
    width: 100%; /* 设置右侧内容宽度占满整个屏幕 */
    margin-bottom: 20px; /* 为右侧内容添加下边距，避免与下方内容紧贴 */
  }
}
// ---------- Home Layout  ---------- END ---------- //





// ---------- back-link-style ---------- start ---------- //
.back-link-style {
  // width: 200px; /* 设置导航栏的总体宽度 */
  padding: 0px; /* 移除导航栏的内边距，使其内容紧贴边缘 */
  font-size: 18px !important; /* 设置导航栏中文字的字体大小为18px，并强制覆盖其他样式 */
}

.back-link-style ul {
  padding: 0; /* 移除无序列表的内边距，使其内容紧贴边缘 */
  margin: 0; /* 移除无序列表的外边距，避免与其他元素产生不必要的间距 */
}

.back-link-style ul a {
  margin-bottom: 1px; /* 为每个链接之间添加1px的下边距，增加链接之间的间距 */
  text-decoration: none; /* 移除链接的默认下划线样式 */
  font-weight: bold; /* 设置链接的字体加粗 */ /* normal */

  &:hover {
    background: none !important; /* 悬停时背景颜色 */
  }

}
// ---------- back-link-style ---------- END ---------- //





// ---------- shortcodes ---------- start ---------- //
.icon-svg {
  display: inline-block;
  margin-right: 10px;
  color: inherit; /* 默认颜色 */
  text-decoration: none;

  &:hover {
    background: none !important; /* 悬停时背景颜色 */
  }
}

.icon-svg-image {
  width: 100%; /* 默认宽度 */
  height: auto;
}
// ---------- shortcodes ---------- END ---------- //