{{ define "main" }}
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    {{ if  .Site.Params.orNotListGroupByDate  }}<!-- divide post list by year  -->
        {{ range .Pages.GroupByDate "2006" }}
        <h4>{{ .Key }}</h4>
        <ul>
            {{ range .Pages }}
                <li>
                    <span>{{ .Date | time.Format site.Params.date_format }}</span>
                    <!-- <span class="colorfuldate">{{ .Date.Format "2006/01/02" }}</span> -->
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </li>
            {{ end }}
        </ul>
        {{ end }}
    {{ else }}
        {{ partial "post_list.html" (dict "context" . "section" .Section)}}
    {{ end }}
{{ end }}