<!-- <a href="{{ "" | relURL }}">{{ $.Site.Params.theme_config.back_home_text }}</a>&nbsp;&nbsp;&nbsp;
<a href="{{ .Site.Params.theme_config.link1 }}">{{ $.Site.Params.theme_config.text1 }}</a>&nbsp;&nbsp;&nbsp;
<a href="{{ .Site.Params.theme_config.link2 }}">{{ $.Site.Params.theme_config.text2 }}</a>&nbsp;&nbsp;&nbsp;
<a href="{{ .Site.Params.theme_config.link3 }}">{{ $.Site.Params.theme_config.text3 }}</a>&nbsp;&nbsp;&nbsp;
<a href="{{ .Site.Params.theme_config.link4 }}">{{ $.Site.Params.theme_config.text4 }}</a>&nbsp;&nbsp;&nbsp;
<a href="{{ .Site.Params.theme_config.link5 }}">{{ $.Site.Params.theme_config.text5 }}</a>&nbsp;&nbsp;&nbsp;
<a href="javascript:history.back()">{{ .Site.Params.theme_config.back_to_previous_text }}</a> -->
