{{ if .Site.Params.theme_config.isNav }}
    <center>
        <div class="back-link-style">
            <ul>
                <a href="{{ "" | relURL }}">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <!-- <a class="back-link-style" href="javascript:history.back()">{{ $.Site.Params.theme_config.back_text }}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                <!-- <a class="back-link-style" href="{{ .Site.Params.theme_config.link1 }}">{{ $.Site.Params.theme_config.text1 }}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                <a href="/demo">Demo</a>
            </ul>
        </div>
    </center>
    <hr>
{{ end }}