{{- $note := "" -}}

{{- if .section -}}
    {{- $note = (where site.RegularPages "Section" .section) -}}
{{- else -}}
    {{- if (eq .context.Kind "taxonomy") -}}
        {{- $note = .context.Pages -}}
    {{- else -}}
        {{- if (eq .context.Kind "term") -}}
            {{- $note = .context.Data.Pages -}}
	{{- else -}}
            {{- $note = site.RegularPages }}
	{{- end -}}
    {{- end -}}
{{- end -}}

{{- $limit_exceeded:= "" -}}
{{- if (and .limit (gt (len $note) .limit)) -}}
    {{- $limit_exceeded = true -}}
{{- else -}}
    {{- $limit_exceeded = false -}}
{{ end }}

{{- if (gt (len $note) 0) }}
    {{- if .limit }}
        {{ $note = (first .limit $note ) }}
    {{ end }}
    <ul>
        {{- range $post := $note -}}
        <li>
            <!-- <span>{{- ($post.Date | time.Format site.Params.theme_config.date_format) }}</span> -->
            <a href="{{ $post.Permalink | relURL }}">{{ $post.Title }}</a>
        </li>
        {{ end }}
        {{- if and .show_more $limit_exceeded }}
            <li><a href="{{ .show_more_url | relURL }}">{{ .show_more_text | default "Show more..." }}</a></li>
        {{ end }}
    </ul>
{{ end }}
